GTS.Clock.Business.NotificationServices/Service References/WSSmsWebService/SmsWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://salavati1.ghadir.local/GTSWebservice/SmsWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" />
  <xs:element name="SendKartablSmss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendSms" nillable="true" type="q1:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendKartablSmssResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestSmss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendSms" nillable="true" type="q2:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestSmssResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrafficSmss">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendSms" nillable="true" type="q3:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrafficSmssResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSmsSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSmsSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="GetAllSmsSettingsResult" nillable="true" type="q4:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSmsServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendSms" nillable="true" type="q5:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSmsServicesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>