GTS.Clock.Business.NotificationServices/Service References/WSEmailWebService/EmailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://salavati1.ghadir.local/GTSWebservice/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" />
  <xs:element name="SendKartablEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendEmail" nillable="true" type="q1:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendKartablEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendEmail" nillable="true" type="q2:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrafficEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendEmail" nillable="true" type="q3:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrafficEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmailSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmailSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="GetAllEmailSettingsResult" nillable="true" type="q4:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunEmailServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GTS.Clock.Infrastructure" minOccurs="0" name="readyForSendEmail" nillable="true" type="q5:ArrayOfInfoServiceProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunEmailServicesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>